.headercontainer{
    padding:10px;
    background-color: grey;
    font-family: 'Lato', sans-serif;
}

header{
    margin-bottom: 15px;
}

#headerbanner{
    border:1px solid black;
    position:relative;


}

#headerbanner{
    content: "";
    background-image:url('./image/cafe150.png');

    height:400px;
    z-index:-2;
    width:100%;


}

.headerbannerstatic{
    text-align:center;
    vertical-align: middle;;
}

#zomatologocontainer{
    width:100%;
    border:1px solid black;
}

#zomatologo{
    height:150px;


    opacity:1;
    animation: moveright 5000ms infinite;
    border:1px solid black;

}

#welcometext{

    z-index:2;
}

.filterContainer{
    width:30%;
    border:solid 1px black;
    display:inline-block;
    vertical-align: top;
    position: sticky;
    
}

#burger{
    display:none;
    width:10px;
}

#theBurger{
    width:30px;
}

.filterNone{
    display:none;
}

.none{
    display:none;
}

#filterContainerMobile{
    position:absolute;
    z-index: 3;
    width:90%;
    background-color:white;
    border:solid 1px black;
    padding:5px;
}

#XFilter{
    border:1px black solid;
    border-radius:35px;
    flex:right;
    position:absolute;
    right:0px;
    top:-5px;
    background-color: aqua;
}

.carousel-item{
    height:400px;
    transform: translateY(-100px);
}



.cafeOverview{
    width:66%;
    border:solid 1px black;
    display:inline-block;
}

.cafeImage{
    width:80%;
}

.cafeImageContainer{
    display:inline-block;
    width:45%;

}

.cafeInfoContainer{
    display:inline-block;
    width:50%;
    vertical-align: top;
    /* border:1px solid black; */
    
}

footer{
    border:1px solid black;
}

@media (max-width: 350px){

    #burger{
        display:flex;
        flex: left;
    }

    .filterContainer{
        display:none;
    }

    .cafeOverview{
        width:100%;
    }

    #headerbanner{
        display:none;
    }

}

@keyframes moveright{
    0%{
        transform:translateX(0%);
    }
    30%{
        transform:translateX(300%);
    }
    40%{
        transform:translateX(350%) rotateZ(-90deg);

    }
    55%{
        transform:translateX(400%) rotateZ(90deg);

    }
    65%{
        transform:translateX(450%) 

    }


    100%{
        transform:translateX(900%);
    }

}